*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(img/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 80%;
    height: 540px;
    position: relative;
}
.image {
    width: 50%;
    float: right;
}
.text {
    background-image: url(img/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: 10% 10%;
    position: absolute;
    height: 100%;
    width: 60%;
    padding-top: 130px;
    font-size: 32px;
    color: hsl(240, 38%, 20%);
}
.image img {
    box-shadow:  5px 5px 22px #bcbcbc,
    -5px -5px 22px #ffffff;
    border-radius: 15px;
}
#prev {
    position: absolute;
    bottom: -4%;
    right: 43%;
    background-color: white;
    width: 60px;
    border: 0;
    border-radius: 50px 0 0 50px;
    height: 40px;
    box-shadow:  -25px 25px 50px #b3b3b3;
}
#next {
    position: absolute;
    bottom: -4%;
    right: 37.5%;
    background-color: white;
    width: 60px;
    border: 0;
    border-radius: 0 50px 50px 0;
    height: 40px;
    box-shadow:  25px 25px 50px #b3b3b3;
}
button {
    outline: none;
    cursor: pointer;
}
#next:active,#prev:active {
    transform: scale(0.9,0.9);
}
#next:hover {
    background: linear-gradient(to right,white,rgb(173, 169, 169));
}
#prev:hover {
    background: linear-gradient(to left,white,rgb(173, 169, 169));
}
.name {
    font-weight: 600;
    font-size: 25px;
}
.desc{
    font-size: 25px;
    color: hsl(240, 18%, 77%);
    font-weight: 600;
}
.second {
    display: none;
}